@font-face {
  font-family: "Augusta";
  src: url("../font/Augusta.ttf") format("truetype");
}

html {
  height: 100%;
}

@include respond-to('xl') {
  body {
    height: 100%;
  }
}


a {
  text-decoration: none;
}