body {
  background: $bkgColor;
}

.wrapper {
  background-color: lighten($bkgColor, 3%);
  width: 80%;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
}

.content {
  font-family: $contentFont;
  color: $contentColor;
}