@font-face {
  font-family: "Augusta";
  src: url("../font/Augusta.ttf") format("truetype");
}

html {
  background-image: url("../img/map.jpg");
  background-attachment: fixed ;
  background-size: cover;
}

body {
  background: linear-gradient(90deg, $bkgColor, transparent, $bkgColor);
}

.nav_background {
  background-image: url("../img/banner.jpg");
  background-clip: padding-box;
  border-bottom: $borderColor 2px solid;
}

.content {
  color: $contentColor;
  font-family: $contentFont;
  padding: 2rem 0 2rem 0;
}