html {
  background-image: url("../img/map.jpg");
  background-attachment: fixed ;
  background-size: cover;
}

body {
  background: linear-gradient(90deg, $bkgColor, transparent, $bkgColor);
}

.wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
}

.content {
  font-family: $contentFont;
  color: $contentColor;
  padding: 2rem 0 2rem 0;
}