
.link {
  height: 100%;
}

.last-article {
  overflow: hidden;
  margin-top: 1rem;
  border: lighten($bkgColor, 20%) 1px solid;
  box-shadow: $bkgColor 0.3rem 0.3rem 10px;

  .last-article__image {
    border-bottom: lighten($bkgColor, 20%) 1px dashed;
  }

  .last-article__title {
    font-family: $navFont;
    font-size: 2rem;
    text-align: center;
    color: lighten($bkgColor, 40%);
  }

  .last-article__content {
    padding: 1rem;
    color: $contentColor;
  }
}

.latest-articles {
  .latest-article {
    padding: 0.5rem;
    margin-top: 1rem;
    border: lighten($bkgColor, 20%) 1px solid;
    box-shadow: $bkgColor 0.3rem 0.3rem 10px;

    .latest-article__title {
    font-family: $navFont;
    font-size: 1.5rem;
    color: lighten($bkgColor, 40%);
    }

    .latest-article__content {
      margin-top: 0.5rem;
      color: $contentColor;
    }
  }
}

.article__signature {
  display: block;
  text-align: end;
  margin-top: 0.5rem;
  color: lighten($bkgColor, 20%);
}

@include respond-to('sm') {
  .latest-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .latest-article {
      width: 44%;
    }
  }
}

@include respond-to('md') {
  .last-article {
    margin: 1rem auto 0 auto;
  }
}

@include respond-to('xl') {
  .content {
    display: flex;
    justify-content: space-around;
  }

  .last-article {
    width: 900px;
  }

  .latest-articles {
    display: block;
    order: -1;
    width: 20%;

    .latest-article {
      width: 100%;
    }
  }
}